<nav class="navbar navbar-expand-lg navbar-dark justify-content-between hodor-nav" style="background-color:#101010;">
    <div class="container-fluid">
        <div class="row">
            <a class="navbar-brand nav-hodor float-sm-left" href="#">
                <img src="{{ url_for('static', filename='img/hodor-inverse.png') }}" width="60" class="d-inline-block align-top" alt="">
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="nav navbar-nav mr-auto"></ul> <!-- Stupid Bootstrap -->
            <ul class="nav navbar-nav">
                <span class="navbar-text mr-4">
                    <!-- TO DO: Change Guest to a variable -->
                    Welcome, <span style="font-weight: bolder; color: white;"> Guest</span>
                </span>
                <ul class="nav-item">
                    <button class="btn btn-outline-success my-2 my-sm-0 mr-3 cd-signin" >Sign In</button>
                    <button class="btn btn-outline-info my-2 my-sm-0 mr-3 cd-signup" >Register</button>
                </ul>
            </ul>
    </div>
    </div>
</nav>
