{% include 'layout/nav-app.html' %}
<div class="area">
</div>
<nav class="main-menu">
  <div>
    <ul>
      <li>
        <div style="color: white">
          <i class="fa fa-user fa-2x"></i>
          <span class="nav-text">
            Sachin S. Kamath
            <button style="padding-left: 20px; margin-top: 10px; font-size: 12px"class="btn btn-outline-success"> Edit Profile </button>
          </span>
        </div>
      </li>
      <ul>
      </div>
      <ul>
        <li>
          <a href="#">
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text">
              Dashboard
            </span>
          </a>

        </li>
        <li class="has-subnav">
          <a href="#">
            <i class="fa fa-laptop fa-2x"></i>
            <span class="nav-text">
              Learn
            </span>
          </a>

        </li>

        <li>
          <a href="#">
            <i class="fa fa-bar-chart-o fa-2x"></i>
            <span class="nav-text">
              Leaderboards
            </span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-flag fa-2x"></i>
            <span class="nav-text">
              Capture the Flag
            </span>
          </a>
        </li>

        <li>
          <a href="#">
            <i class="fa fa-info fa-2x"></i>
            <span class="nav-text">
              Documentation and Help
            </span>
          </a>
        </li>
      </ul>

      <ul class="logout">
        <li class="text">
          <a href="#">
            <i style="color: #d9534f !important;" class="fa fa-power-off fa-2x"></i>
            <span class="nav-text">
              Logout
            </span>
          </a>
        </li>
      </ul>
    </nav>
